<div class="container-fluid">

	<div class="row" id="head">
		<div class="col-sm-12" id="headContainer">
			<div class="col-sm-6">
				<strong><p id="titleSmall">Ricebook</p></strong>
			</div>
			<div class="col-sm-5"></div>
			<div class="col-sm-1" id="outButt">
				<button id="logoutButt" (click)="logoutService.logout()" routerLink="../auth">Logout</button>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-sm-4">
			<mat-card class="owner">
				<mat-card-header>
					<div mat-card-avatar class="header-image">
						<img *ngIf="profile.avatar" mat-card-img [src]="profile.avatar" alt="Photo of Morty" width="42px" height="45px">
					</div>
					<mat-card-title><a id="edit-profile-butt" matTooltip="Edit your profile!" href="../#/profile">{{profile.disName}}</a></mat-card-title>
					<mat-card-subtitle id="userStatus">{{profile.headline}}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<div class="row">
						<div class="col-sm-6">
							<mat-input-container>
								<input id="newStatus" [(ngModel)]="newStatus" matInput placeholder="How are you doing?">
							</mat-input-container>
						</div>
						<div class="col-sm-6">
							<button id="update" color="primary" mat-button matTooltip="Update your status!" (click)="updateStatus()">
								<mat-icon>update</mat-icon>
							</button>
							<img class="img-link" src="https://static.xx.fbcdn.net/rsrc.php/yl/r/H3nktOa7ZMg.ico" *ngIf="!profile.fbID" matTooltip="link current account to your Facebook account" (click)="linkService.link()">
							<img class="img-link" src="https://static.xx.fbcdn.net/rsrc.php/yl/r/H3nktOa7ZMg.ico" *ngIf="profile.fbID && profile.fbID !== profile.name" matTooltip="unlink current account from your Facebook account" (click)="unlink()">
						</div>
					</div>
				</mat-card-content>
			</mat-card><br>

			<div *ngFor="let follow of follows">
				<mat-card class="follow">
					<mat-card-header>
						<div mat-card-avatar class="header-image">
							<img mat-card-img [src]="follow.avatar" [alt]="follow.alt" class="follow-avatar">
						</div>
						<mat-card-title id="follow-title">{{follow.title}}</mat-card-title>
						<mat-card-subtitle>{{follow.subTitle}}</mat-card-subtitle>
					</mat-card-header>
					<mat-card-actions>
						<button mat-button matTooltip="follow closely with him/her (*/ω＼*)">
							<mat-icon mat-24>favorite_border</mat-icon>
						</button>
						<button mat-button matTooltip="Share this person (〃'▽'〃)">
							<mat-icon mat-24>share</mat-icon>
						</button>
						<button id="unfollow-butt" mat-button matTooltip="Unfollow this guy ￣へ￣" (click)="unfollow(follow.id, follow.name)">
							<mat-icon mat-24>not_interested</mat-icon>
						</button>
					</mat-card-actions>
				</mat-card>
			</div><br><br>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-5">
					<mat-input-container>
						<input id="new-follow-input" matInput placeholder="Who else are you interested in?" [(ngModel)]="newFollow" >
					</mat-input-container>
				</div> &nbsp;
				<!-- <div class="col-sm-1"></div> -->
				<div class="col-sm-3">
					<button id="new-follow-butt" mat-button matTooltip="Follow him/her (*￣︶￣)" (click)="addFollow()">
						<mat-icon>person_add</mat-icon>
					</button>
				</div>
			</div>

		</div>

		<div class="col-sm-8">

			<div class="row">
				<div class="col-sm-9"></div>
				<div class="col-sm-3">
					<mat-input-container class="full-width">
						<input matInput id="searchBox" placeholder="Search" [(ngModel)]="searchBox" (keyup)="search()">
			  			<mat-icon matSuffix>search</mat-icon>
					</mat-input-container>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-8">
					<form id="new-post">
						<mat-input-container class="full-width">
							<textarea id="postInput" name="postInput" [(ngModel)]="postContent" matInput matTextareaAutosize minRows="4" placeholder="What's on your mind?" #text_></textarea>
						</mat-input-container>
						<input name="image_upload" type="file" id="image_upload" accept="image/*" (change)="handleImageChange($event, -1)" [(ngModel)]="image_upload" #img_>
						<table class="post-table"><tr>
							<td class="post-td" *ngIf="postImg">
								<img [src]="postImg" class="post-img">
							</td>
							<td>
								<button class="sign-in" id="cancel" (click)="clearPost()">Cancel</button>
								<button class="sign-in" id="post" (click)="postArt()">Post</button>
							</td>
						</tr></table><br><br>
					</form>
				</div>
			</div><br><br>

			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10" id="article">
					<table class="article-table col-sm-12">
						<tr *ngFor="let article of searchRes">
							<td *ngIf="article.img || article.editing" class="article-td">
								<img *ngIf="article.img" id="article-image" class="article-image" [src]="article.img"><br><br>
								<div *ngIf="article.editing">
									<button *ngIf="article.img" style="font-size: 12px; line-height: 14px" (click)="deleteImg(article._id)">
										Delete Image
									</button><br><br>
									<input type="file" accept="image/*" (change)="handleImageChange($event, article._id)">
								</div>
							</td>
							<td [colSpan]="article.colspan" class="article-td">
								<h3 class="article-title">TITLE</h3>
								<p class="article-info">
									Author: {{article.author}}
									&nbsp;&nbsp;
									Time: {{article.date | date}}
									&nbsp;&nbsp;
									<a class="article-edit-butt" *ngIf="article.name === profile.name" matTooltip="edit article" (click)="editArticle(article.name, article._id)">edit</a>
								</p>
								<p id="article-text" class="article-text" *ngIf="!article.editing">{{article.text}}</p>
								<div *ngIf="article.editing">
									<div>
										<mat-input-container class="edit-container">
											<textarea id="article-edit-area" class="edit-textarea" matTextareaAutosize [(ngModel)]="article.text" matInput></textarea>
										</mat-input-container>
									</div>
									<div class="edit-submit">
										<button class="sign-in" (click)="deleteArticle(article._id)">delete</button>
										&nbsp;
										<button class="sign-in" (click)="cancelEdit(article._id)">cancel</button>
										&nbsp;
										<button id="submitEditButt" class="sign-in" (click)="submitEdit(article._id)">submit</button>
									</div><br>
								</div><br>
								<mat-expansion-panel>
								  <mat-expansion-panel-header>
								    <mat-panel-title>
								      Comments
								    </mat-panel-title>
								    <mat-panel-description>
								      Leave some comments!
								    </mat-panel-description>
								  </mat-expansion-panel-header>
								  <mat-list *ngFor="let comment of article.comments">
									  <mat-list-item>
									    <mat-icon mat-list-icon>person</mat-icon>
									    <h4 mat-line>
									    	<span *ngIf="!comment.editing">
									    		{{comment.content}}
									    		<span *ngIf="comment.name === profile.name">
									    			<a class="comment-edit" matTooltip="delete comment" (click)="deleteComment(article._id, comment.id)">delete</a>&nbsp;&nbsp;
									    			<a class="comment-edit" matTooltip="edit comment" (click)="editComment(article._id, comment.id)">edit</a>
									    		</span>
									    	</span>
									    	<span *ngIf="comment.editing" class="comment-edit-span">
									    		<mat-input-container class="comment-edit-input">
									    			<input matInput [(ngModel)]="comment.content">
									    		</mat-input-container>
									    		<button class="commentButt sign-in" (click)="cancelEditComment(article._id, comment.id)">cancel</button>
									    		<button class="commentButt sign-in" (click)="submitEditComment(article._id, comment.id)">submit</button>
									    	</span>
									    </h4>
									    <p mat-line *ngIf="!comment.editing"><i>
									    	<span>{{comment.author}}</span>,
									    	<span> {{comment.date | date}}</span></i>
									    </p>
									  </mat-list-item>
									  <mat-divider></mat-divider>
									</mat-list><br><br>
								  	<mat-input-container id="commentBox">
								  		<textarea name="commentInput" id="commentInput" matInput minRows="3" placeholder="What do you think of this article?" [(ngModel)]="article.comment"></textarea>
								  	</mat-input-container>
										<button class="commentButt sign-in" (click)="submitComment(article._id, article.comment)">comment</button>
								</mat-expansion-panel>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>